@import "../../../../Styles/common.scss";

.icon {
  display: inline-block;
  color: $fontColor-lightGray;
  fill: currentColor;
  vertical-align: middle;
  stroke-width: 1px;
  background: none;
  pointer-events: none;
}

.icon--selected-arrow {
  position: absolute;
  top: calc(50% - 5px);
  right: 15px;
  width: 10px;
  height: 10px;
}
