@import '../../Styles/common.scss';

.Register-container{
    height: 100vh;
    @include center;
    
    .register-form{
        @include center;
        @include flexCenterAndSetDirection($direction: column);
        @include fontBold;
        font-size: 15px;
    
        div{
            margin: 8px 0;
    
            &:nth-child(2){
                color: #888;
                margin-bottom: 20px;
            }
        }
    
        .register-text{
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }
}
