@import "../../Styles/common.scss";

.ButtonContainer {
  button {
    width: 400px;
    height: 44px;
    @include fontBold;
    font-weight: bold;
    font-size: 14px;
    color: $fontColor-white;
    background: black;
    border: none;
    outline: none;
  }
}
