$main-height: 100vh;

.Main{
    .bg-main {
        height: $main-height;
        background: pink;
    }
    
    .bg-starlink {
        height: $main-height;
        background: skyblue;
    }
    
    .bg-starship {
        height: $main-height;
        background: thistle;
    }
    
    .bg-return {
        height: $main-height;
        background: palegoldenrod;
    }
    
    .bg-dragon {
        width: 100%;
        height: 70vh;
        background: aqua;
    }
    
    .bg-nasa {
        height: $main-height;
        background: darkorange;
    }
}