@import "../../../Styles/common.scss";
@import "../Falcon9.scss";

.Video {
  overflow: hidden;
  @include sectionStyle;

  .background {
    background-image: url("/images/falcon9/f9VideoThumbnail.jpg");

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    svg {
      width: 50px;
      height: 50px;
      transition: transform 300ms ease-in-out;
    }
  }

  article {
    @include articleStyle;

    .description {
      position: absolute;
      left: 50px;
      bottom: 15%;
      max-width: 520px;
      text-align: left;

      span {
        display: block;
        font-size: 20px;
        font-weight: 300;
      }

      h1 {
        margin-top: 15px;
        margin-bottom: 20px;
        @include fontBold;
        font-size: 60px;
        font-weight: 600;
      }
    }
  }

  &:hover {
    .PlayIcon {
      transform: scale(0.8);
      transition: transform 300ms ease-in-out;
    }
  }
}
