@import "../../Styles/common.scss";

.Footer {
  position: absolute;
  width: 100%;
  height: 100px;
  @include center;
  @include fontRegular;
  font-size: 11px;
  color: $fontColor-white;
  background: $backgroundColor;

  span {
    margin: 0 20px;
    color: $fontColor-lightGray;
  }
}

.footerUl {
  display: flex;
  font-weight: bold;

  li {
    margin: 0 20px;

    a {
      color: $fontColor-white;

      &:hover {
        color: $fontColor-lightGray;
      }

      color: $fontColor-white;
      transition: color 0.5s;
    }
  }
}
