.Card {
  flex: 1 0 100%;
  position: relative;
  height: 1329px;
  .backgroundVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 1329px;
    object-fit: cover;
  }
}
