@import "../../../../Styles/common.scss";

.productSlide {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  .product__slideItem {
    // transition: opacity 0.3s ease;
    // opacity: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 730px;
    height: 730px;
    margin-bottom: 30px;
    .product__slideItem--box {
      .img__case1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(0);
        // opacity: 1;
      }
      .img__case2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 100%;
        transition: transform 1.2s;
        vertical-align: top;
        transform: translateY(0);
        // opacity: 1;
      }
    }
  }
}
