@import '../../Styles/common.scss';

.Account-container {
    height: 100vh;
    @include center;

    .account-form {
        @include center;
        @include flexCenterAndSetDirection($direction: column);
        @include fontBold;
        font-size: 15px;
    
        div {
            margin: 8px 0;

            &:nth-child(2){
                margin-bottom: 20px;
            }
        }

        .login-text{
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .accountBottom{
            margin-top: 15px;
        }
    
        span:last-child {
            color: #888;
        }
    }
}