@import "../../Styles/common.scss";

.Falcon9 {
  @include fontRegular;
  color: $fontColor-white;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fadeinAnimation {
    animation: fadeIn 1.5s ease-in-out forwards;
  }

  .background {
    position: absolute;
    @include bgImgDefualtSet;
    width: 100%;
    height: 100%;
  }

  section {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
  }

  article {
    position: relative;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    @include fontBold;
    color: $fontColor-white;
  }
}
