@import "../../../../Styles/common.scss";

.scrollLock {
  overflow: hidden;
}

@keyframes bottomToTop {
  from {
    transform: translate(-50%, -50%) translateY(100vh);
  }
  to {
    transform: translate(-50%, -50%) translateY(0);
  }
}

@keyframes toTop {
  from {
    transform: translate(-50%, -50%) translateY(0);
  }
  to {
    transform: translate(-50%, -50%) translateY(-100vh);
  }
}

.appear {
  animation: bottomToTop 510ms ease-in-out;
}

.disappear {
  animation: toTop 510ms ease-in-out;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  @include center;
  transform: translate(-50%, -50%);
  background-color: $backgroundColor;
  z-index: 2;

  iframe {
    width: 80%;
    height: 80%;
  }

  .closeBtn {
    position: absolute;
    right: 10vh;
    height: 80%;
    display: flex;
    align-items: flex-start;
  }

  .descriptionOfVideo {
    position: absolute;
    bottom: 5%;
    @include fontBold;
    font-size: 17px;
    font-weight: 600;
  }
}
