@import "../../Styles/common.scss";

.Header {
<<<<<<< HEAD
  position: fixed;
  width: 100%;
=======
  background-color: #000;
>>>>>>> master
  height: 100px;
  @include fontBold;
  font-size: 14px;
  font-weight: bold;
  color: $fontColor-white;
<<<<<<< HEAD
  z-index: 1;
=======
>>>>>>> master

  .headerInnerContainer {
    position: relative;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;

    .spaceXIcon {
      position: absolute;
      width: 210px;
      height: 30px;
      top: 30px;
      left: 50px;
    }

    .navUl {
      display: flex;
      position: absolute;
      top: 38px;
      left: 285px;
<<<<<<< HEAD

      .navLi {
        margin: 0 12px;

=======

      .navLi {
        margin: 0 12px;

>>>>>>> master
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.HeaderNavHide {
  transform: translateY(-100px);
  pointer-events: none;
  color: #000;
  transition: all 0.3s cubic-bezier(1, 0, 0.8, 1);
}

.HeaderNavShow {
  transform: translateY(0);
  color: #fff;
  transition: all 0.3s cubic-bezier(1, 0, 0.8, 1);
<<<<<<< HEAD
}

.HeaderBgHide {
  background: none;
=======
>>>>>>> master
}

.HeaderBgShow {
  background: black;
}
